<% include partials/header %>
<header class="jumbotron landing">
        <div class="container">
            <h1><i class="icon-football"></i></h1>
            <h1 id="headline">wiseguy</h1>
            <br>
            <p class="lead">Track all your picks in one place, socially.</p>
        </div> <!-- end container -->
    </header>
    
<div>
    <div class="row">
        <div class="col-xs-12">
            <p class="lead">With Wiseguy, you can watch the result of your picks in real time as scores update live.</p>
            <p>Have multiple pools? Want to track a parlay? Create as many pools as you want, each week.</p>
            <p class="lead">Be social.</p>
            <p>Follow your friends and track their pools in your customized stream. You can also leave comments on other users' pools.</p>
            <br>
        </div>
    </div>

    <div class="row">
            <div class="col-xs-12">
                <a href="/register"><p class="lead">Create an account to start picking games.</p></a>
                <br>
                <br>
				<%
				    if(!currentUser)
				    { %>
				        <a class="btn btn-primary" href="/register">Click here to sign up</a>
			<%	    }
				    else
				    { %>
				        <a class="btn btn-primary" href="/register">Click here to view your pools</a>
			<% 	    }
				
				%>
                
            </div>
        </div>
</div>

<!-- artificially add space between sections. You should be doing this in CSS instead. -->
<div>
    <br>
    <br>
    <br>
</div>
    
<!-- Feed of latest user pools -->
    
<div>
    <legend>Latest user pools</legend>
    <%   
    pools.forEach(function(feedObject)
    {
        %>
        <a href="/pools/<%=feedObject._id%>">
        <div class="row text-left">
            <div class="col-lg-5 col-md-offset-4 col-md-6 col-sm-12 col-xs-12 text-center">
                <div class="searchResultImgContainer center-block">
                    <img src="<%=feedObject.author.image%>">
                </div>
                <div class="searchResult text-left">
                    <p><%=feedObject.author.name%></p>
                    <strong><p><%=feedObject.name%></p></strong>
                    <% var createdAt = String(feedObject.createdAt) %>
                    <%var createdAt = createdAt.substring(0, 15)%>
                    <p>Created on <%=createdAt%></p>
                    <% var numPicks = countPicks(feedObject.picks, function(returnedCount)
                    {
                        %>
                        <p><i class="icon-ok"></i> <%=returnedCount%> total picks</p>
                        <%
                    })
                    %>

                </div>
            </div>
        </div>
        </a>
        <%
    })
    %>
</div>

<!-- artificially add space between sections. You should be doing this in CSS instead. -->
<div>
    <br>
    <br>
    <br>
</div>

<!-- Feed of latest scores -->
    
<div class="text-left">
    <legend class="lead pull-xs-left">Current scores</legend>
</div>
            
    <!--<div class="row text-center" style="display:flex; flex-wrap: wrap;">-->
    <div>
        <div class="row">
            <% scores.games.forEach(function(score)
            {
                %>
                <div class="col-md-2 col-sm-3 col-xs-6">
                   <div class="row scoreCard">
                        <div class="away">
                            <p><%=score.away%></p>
                            <img class="awayIcon" src="http://i.nflcdn.com/static/site/7.4/img/teams/<%= score.away %>/<%= score.away %>_logo-80x90.gif">
                            <p class="awayScore"> <%= score.awayScore %></p>
                        </div>
                        <div class="home">
                            <p><%=score.home%></p>
                            <img class="homeIcon" src="http://i.nflcdn.com/static/site/7.4/img/teams/<%= score.home %>/<%= score.home %>_logo-80x90.gif">
                            <p class="homeScore"><%= score.homeScore %></p>
                        </div>
                    </div>
    
                            <%
                                if(score.homeScore > score.awayScore)
                                {
                                    %>
                                    
                                    <%
                                }
                                else if(score.awayScore > score.homeScore)
                                {
                                    %>
                                    <!-- maybe change the color of the winning team's background? -->
                                    <%
                                }
                                else
                                {
                                    
                                }
                                %>
                </div><!-- end row -->
            <%
            }) %>
        </div>        
    </div> <!--- end current scores -->

    
    
<%

// Function to count number of picks on user stream. This should be refactored into a middleware.

function countPicks(picks, callback)
{
    var count = 0
    picks.forEach(function(pick)
    {
        if(pick.winner)
        {
            count++
        }
    })
    callback(count)
}

%>
    
<% include partials/footer %>