<% include ../partials/header %>
        <legend><%=user.name%></legend>

<div class="row"></div>
 
    <div class="col-lg-5 col-md-offset-4 col-md-6 col-sm-12 col-xs-12 text-center">

        <%
        if(user.image)
        { %>
        <div class="profilePictureContainer center-block">
            <img class="profilePicture" src="<%=user.image%>">
        </div>
        <% } %>
        

     <div class="userProfileContainer text-left">
        <%
        var totalFollowers = 0, totalFollowing = 0;
        if(user.followers.length>0)
        { 
            totalFollowers = user.followers.length
        }

        if(user.following.length>0)
        { 

            totalFollowing = user.following.length
            
        } %>
        
        <p><a href="/users/<%=user.id%>/followers">Total followers: <%=totalFollowers%></a> | <a href="/users/<%=user.id%>/following">Total following: <%=totalFollowing%></p></a>
        <%
        if(user.stats.totalPicks)
        { %>

            <p>Total picks: <%=user.stats.totalPicks%></p>
            <p>Lifetime correct picks: <%=user.stats.correctPicks%></p>
            <p>Lifetime correct picks against the spread: <%=user.stats.correctSpreadPicks%></p>
            <a href="/users/<%=user.id%>/pools"><p class="lead">Participated in <%=user.stats.totalPools%> pools</p></a>

        <%
        } 
        else
        { %>
            <p><%=user.username%> has not made any picks.</p>
        <%
        } %>
    </div>
    <br>
       
    </div>
</div>
<div class="row">
    <%
    if(currentUser.id == user.id)
    {
        // do nothing
    }
    else
    {
        areFriends(currentUser, user, function(result)
        {
            if(result)
            {
                %>
                <form action="/users/<%=user.id%>/unfollow" method="POST">
                    <div class="col-xs-12 text-center">
                            <input type="hidden" name="<%=user.id%>" value="<%=user.id%>">
                            <button type="submit" id="pool-button" class="btn btn-primary"><i class="icon-user-plus"></i> Unfollow <%=user.name%></button>
                    </div>
                    </form>
                <%
                areFriends = true;
            }
            else
            {
                %>
                <form action="/users/<%=user.id%>/follow" method="POST">
                        <div class="col-xs-12 text-center">
                                <input type="hidden" name="<%=user.id%>" value="<%=user.id%>">
                                <button type="submit" id="pool-button" class="btn btn-primary"><i class="icon-user-plus"></i> Follow <%=user.name%></button>
                        </div>
                    </form>
                    <%
            }
        })

    } %>
    <%
    if(currentUser.following.length < 1 && currentUser.id != user.id)
        { %>
        <form action="/users/<%=user.id%>/follow" method="POST">
            <div class="col-xs-12 text-center">
                <input type="hidden" name="<%=user.id%>" value="<%=user.id%>">
                    <button type="submit" id="pool-button" class="btn btn-primary"><i class="icon-user-plus"></i> Follow <%=user.name%></button>
            </div>
        </form>
            <%
        }
        %>
    <% if(user.id === currentUser.id)
    { %>
        <div class="col-xs-12 text-center">
            <a class="btn btn-primary" id="pool-button" href="/users/<%=currentUser.id%>/edit"><i class="icon-pencil"></i> Edit profile</a>
        </div>
<%  } %>
</div><!-- end row -->

<% function areFriends(user, target, callback)
{
    var result = false;
    user.following.forEach(function(follow)
    {
        if(String(follow) === String(target.id))
        {
            result = true;

        }
    })
    callback(result);
}
%>


<% include ../partials/footer %>