<% include ../partials/header %>

<h1><i class="icon-plus"></i> Edit a Pool</h1>
<p class="lead">Pick who you think is going to win each game, and then set your spread and amount to win. <br> Each field is optional, so you don't need to pick every game, and you don't need to set a spread or amount to win.<br>Good luck!</p>


<form action="/pools/<%=pool._id%>?_method=PUT" method="POST">
    <label class="lead control-label" id="poolName" for="name">Pool Name</label>
    <input type="text" name="name" value="<%=pool.name%>" placeholder="Pool Name" required></input>
    
<div class="row">
<% pool.picks.forEach(function(pick)
{
    scores.games.forEach(function(score)
    {
        // Prevent a game from being editable if one of the teams has scored
        var readonly = "";
        var disabled = "";
        if(score.homeScore > 0 || score.awayScore > 0)
        {
            readonly = "readonly";
            disabled = "disabled";
        }
    
            if(pick.gameID == score.gameID && String(pick.winner) != "undefined") 
            { %>
            
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="row scoreCard">
                    <fieldset>
                        <input type="hidden" name="<%= score.gameID %>[gameID]" value="<%= score.gameID %>">
                        <p>Pick the winner</p>
                        <% if(String(pick.winner) === String(score.home))
                        { %>
                            <div class="home">
                                <input type="radio" name="<%= score.gameID %>[winner]" value="<%= score.home %>" checked="checked"><img class="homeIcon" src="http://i.nflcdn.com/static/site/7.4/img/teams/<%= score.home %>/<%= score.home %>_logo-80x90.gif"><br>
                            </div>
                            <div class="away">
                                <input type="radio" name="<%= score.gameID %>[winner]" value="<%= score.away %>" <%=disabled%>> <img class="homeIcon" src="http://i.nflcdn.com/static/site/7.4/img/teams/<%= score.away %>/<%= score.away %>_logo-80x90.gif"><br>
                            </div>
                        <%
                        }
                        else
                        { %>
                            <div class="home">
                                <input type="radio" name="<%= score.gameID %>[winner]" value="<%= score.home %>" <%=disabled%>><img class="homeIcon" src="http://i.nflcdn.com/static/site/7.4/img/teams/<%= score.home %>/<%= score.home %>_logo-80x90.gif"><br>
                            </div>
                            <div class="away">
                                <input type="radio" name="<%= score.gameID %>[winner]" value="<%= score.away %>" checked="checked"> <img class="homeIcon" src="http://i.nflcdn.com/static/site/7.4/img/teams/<%= score.away %>/<%= score.away %>_logo-80x90.gif"><br>
                            </div>
                        <%
                        } %>
                        <div class="picks">
                            Spread <input class="numberInput" type="number" step="any" name="<%= score.gameID %>[spread]" value="<%=pick.spread%>" <%=readonly%>><br>
                            Amount to win: $<input class="numberInput" type="number" step="any" name="<%= score.gameID %>[toWin]" value="<%=pick.towin%>" <%=readonly%>><br>
                        </div>
                    </fieldset>
                </div>
            </div><!-- end col -->
            <% } %>
        <%
        if(String(pick.winner) === "undefined")
        {
            if(pick.gameID == score.gameID)
            {
            %>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="row scoreCard">
                    <fieldset>
                        <input type="hidden" name="<%= score.gameID %>[gameID]" value="<%= score.gameID %>">
                        <p>Pick the winner</p>
                        <div class="home">
                            <input type="radio" name="<%= score.gameID %>[winner]" value="<%= score.home %>" <%=disabled%>><img class="homeIcon" src="http://i.nflcdn.com/static/site/7.4/img/teams/<%= score.home %>/<%= score.home %>_logo-80x90.gif"><br>
                        </div>
                        <div class="away">
                            <input type="radio" name="<%= score.gameID %>[winner]" value="<%= score.away %>" <%=disabled%>> <img class="homeIcon" src="http://i.nflcdn.com/static/site/7.4/img/teams/<%= score.away %>/<%= score.away %>_logo-80x90.gif"><br>
                        </div>
                        <div class="picks">
                            Spread <input class="numberInput" type="number" step="any" name="<%= score.gameID %>[spread]" value="0" <%=readonly%>><br>
                            To win: $<input class="numberInput" type="number" step="any" name="<%= score.gameID %>[toWin]" value="0" <%=readonly%>><br>
                        </div>
                    </fieldset>
                </div>
            </div><!-- end col -->
            <%
            }
            %>
        <%
        }
        else
        {
                
        }
        %>
    <% }) %><!-- end for each score -->
<% }) %><!-- end for each pool -->
</div> <!-- end row -->
<div class="row">
    <div class="col-xs-12">
        <button  class="btn btn-primary" ><i class="icon-plus"></i>Submit</button>
    </div>
    </form>
    <div class="col-xs-12">
        <form id="delete-form" action="/pools/<%= pool._id %>?_method=DELETE" method="POST">
        <button id="pool-button" class="btn btn-danger">Delete Pool</button>
    </div>
</div>

</form>

<% include ../partials/footer %>