<% include ../partials/header %>

<h1><i class="icon-plus"></i> Create a new Pool</h1>
<p class="lead">Pick who you think is going to win each game, and then set your spread and amount to win. <br> If you have a spread, enter the value as it applies to your pick for the winner of the game. <br> For positive spreads, you don't need to enter a + sign. <br> Each field is optional, so you don't need to pick every game, and you don't need to set a spread or amount to win.<br><br>Good luck!</p>


<form action="/pools" method="POST">
    <label class="lead control-label" id="poolName" for="name">Pool Name</label>
    <input type="text" name="name" placeholder="Pool Name" required></input>
    
<div class="row">
<% scores.games.forEach(function(score)
{

    if(score.homeScore < 1 && score.awayScore < 1)
    {
    // console.log(score);
    %>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="row scoreCard">
            <fieldset>
                <input type="hidden" name="<%= score.gameID %>[gameID]" value="<%= score.gameID %>">
                <p>Pick the winner</p>
                <div class="away">
                    <p><%=score.away%></p>
                    <input type="radio" name="<%= score.gameID %>[winner]" value="<%= score.away %>"> <img class="homeIcon" src="http://i.nflcdn.com/static/site/7.4/img/teams/<%= score.away %>/<%= score.away %>_logo-80x90.gif"><br>
                </div>
                <div class="home">
                    <p><%=score.home%></p>
                    <input type="radio" name="<%= score.gameID %>[winner]" value="<%= score.home %>"><img class="homeIcon" src="http://i.nflcdn.com/static/site/7.4/img/teams/<%= score.home %>/<%= score.home %>_logo-80x90.gif"><br>
                </div>
                <div class="picks">
                    Spread <input class="numberInput" type="number" step="any" name="<%= score.gameID %>[spread]" value=""><br>
                    To win: $<input class="numberInput" type="number" step="any" name="<%= score.gameID %>[toWin]" value=""><br>
                </div>
            </fieldset>
        </div>
    </div><!-- end col -->
       <% } %>
    <% }) %>
</div> <!-- end row -->
<div>
    <button class ="btn btn-primary" id="pool-button"><i class="icon-plus"></i>Submit</button>
</div>
</form>

<% include ../partials/footer %>