<% include ../partials/header %>


    <header class="jumbotron">
        <div class="container">
            <h1>Pools</h1>
            <p><a class="btn btn-primary btn-large" href="/pools/new"><i class="icon-plus"></i> Add A New Pool</a></p>
        </div>
    </header>
    
    <div class="row">
        <div class="col-lg-12">
        </div>
    </div>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% pools.forEach(function(pool)
        { %> <!-- end for each pool -->
            <% var winTotal = 0 %>
            <% var totalPicks = 0 %>
            <% var picks = pool.picks %>
            <% picks.forEach(function(pick)
            { %>
                <% if(String(pick.winner) === "undefined")
                { %>
                    <!-- do nothing -->
            <%  }
                else
                { %>
                    <% totalPicks++ %>
            <%  } %>
                
                <% winTotal += Number(pick.toWin) %>
            <% }) %> <!-- end for each pick -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <div class="caption">
                        <h4><%= pool.name %></h4>
                        <p><i class="icon-ok"></i><%= totalPicks %> total picks </p>
                        <p><i class="icon-dollar-1"></i> $<%= winTotal %> on the line </p>
                        <p>Created: <%= pool.createdAt %></p>
                    </div>
                    <p><a href="/pools/<%= pool._id %>" class="btn btn-primary"><i class="icon-list"></i> More Info</a></p>
                </div>
            
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>