<% include ../partials/header %>
<meta http-equiv="refresh" content="150">
      <h1><%= pool.name %></h1>
     <p class="lead">Created by  <a href="/users/<%=pool.author.id%>"><strong><%=pool.author.name%></strong></a></p>

<% var toWin = 0, totalPicks = 0, winnings = 0, correctPicks = 0; %>
<% pool.picks.forEach(function(pick)
{
    if(pick.toWin)
    {
        toWin += Number(pick.toWin);
    }
    if(String(pick.winner) === "undefined")
    {
        // do nothing
    }
    else
    {
        totalPicks ++;
    }
}) %>



<%
// CALCULATE CURRENT WINNINGS AND CORRECT PICKS
var winnings = calculateWinnings(pool, scores);

%>


<%if(toWin > 0)
{ %>
    
    <% if(String(pool.author.id) === String(currentUser.id))
    { %>

        %>
            <p class="lead"><i class="icon-dollar-1"></i> $<%=toWin%> on the line | $<%=winnings.money%> winnings </p>
        <%
    }
 } %>
<p class="lead"><i class="icon-ok"></i> <%=totalPicks%> total picks | <%=winnings.picks%> correct picks </p>
<div>
    <div class="row">
        <% pool.picks.forEach(function(pick)
        { %>
            <%if(String(pick.winner) === "undefined")
            {
                // do nothing
            }
            else
            {
                scores.games.forEach(function(score)
                { %>
                    <% if(pick.gameID == score.gameID) 
                    {%>
                    
                        <%
                        var winner = "";
                        var loser = "";
                        var resultClass = "";
                        if(score.homeScore > score.awayScore)
                        {
                            if(pick.spread && pick.winner == String(score.home))
                            {
                                if((score.homeScore + pick.spread) > score.awayScore)
                                {
                                    winner = String(score.home);
                                    loser = String(score.away);
                                }
                                else
                                {
                                    loser = String(score.home);
                                    winner = String(score.away);
                                }
                            }
                            else
                            {
                                winner = String(score.home);
                                loser = String(score.away);
                            }
                        }
                        else if(score.awayScore > score.homeScore)
                        {
                            if(pick.spread && pick.winner == String(score.away))
                            {
                                if((score.awayScore + pick.spread) > score.homeScore)
                                {
                                    winner = String(score.away);
                                    loser = String(score.home);
                                }
                                else
                                {
                                    winner = String(score.home);
                                    loser = String(score.away);
                                }
                            }
                            else
                            {
                                winner = String(score.away);
                                loser = String(score.home);
                            }
                        }
                        else
                        {
                            resultClass = "";
                        }
                        %>
                        
                        <%
                            if(String(pick.winner) === winner)
                            {
                                resultClass = "winning";
                            }
                            else if(String(pick.winner) === loser)
                            {
                                resultClass = "losing";
                            }
                            else
                            {
                                resultClass = "";
                            }
                        %>
                    
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <div class="row scoreCard <%=resultClass%>">
                                <div class="away">
                                    <p><%=score.away%></p>
                                    <img class="awayIcon" src="http://i.nflcdn.com/static/site/7.4/img/teams/<%= score.away %>/<%= score.away %>_logo-80x90.gif">
                                    <p class="awayScore"> <%= score.awayScore %></p>
                                </div>
                                <div class="home">
                                    <p><%=score.home%></p>
                                    <img class="homeIcon" src="http://i.nflcdn.com/static/site/7.4/img/teams/<%= score.home %>/<%= score.home %>_logo-80x90.gif">
                                    <p class="homeScore"><%= score.homeScore %></p>
                                </div>

                                <div class="picks">
                                    <p>Pick:</p><img class="pickIcon" src="http://i.nflcdn.com/static/site/7.4/img/teams/<%= pick.winner %>/<%= pick.winner %>_logo-80x90.gif">
                                    <%
                                    if(pick.spread)
                                    { %>
                                        <p>Spread: <%= pick.spread %></p>
                                <%  }
                                    else
                                    { %>
                                        <p> </p> <!-- fix bug where top row was pushing down elements below it too far. There should be a better way to fix this -->
                                        <br>
                                <%  }
                                    if(pick.toWin)
                                    { %>
                                        <% if(String(pool.author.id) === String(currentUser.id))
                                        { %>
                                            <p>To win: $<%= pick.toWin %></p>
                                    <%  } %>
                                <%  }
                                    else
                                    { %>
                                        <p> </p> <!-- fix bug where top row was pushing down elements below it too far. There should be a better way to fix this -->
                                        <br>
                                <%  }
                                %>
                                    
                                </div>
                            </div>
                        </div>
                    <%  
                    } %> <!-- end if -->
                <%
                }) %> <!-- end for each game -->
        <%  } %>
        
        <%
        }) %> <!-- end for each pick -->
    </div>
</div>

<% if(currentUser && pool.author.id.equals(currentUser._id))
{ %>

<div class="row editButtons">
    <div class="col-xs-12">
        <a id="pool-button" class="btn btn-warning" href="/pools/<%=pool._id%>/edit">Edit Pool</a>
    </div>

</div>
<% } %>

<!-- comment section -->

<div class="pre-footer"></div>

    <div class="comment-div">
        <div class="well">
            <div class="text-right">
                    <a class="btn btn-success" href="/pools/<%=pool._id%>/comments/new">Add New Comment</a>
            </div>
            <hr>
            <% pool.comments.forEach(function(comment)
            { %>
            <div class="row">
                <div class="col-xs-12 text-right">

                    <div class="commentIMGContainer">
                        <img class="" src="<%=comment.author.image%>">

                    </div>  
                                            <strong class="pull-left"><%= comment.author.name %> </strong>
            <!--<span class="pull-right"> 10 days ago</span>-->
                    <br>
                    <p class="text-left"> <%= comment.text %>
                    </p>
                    <%
                    if(currentUser)
                    {
                        if(String(comment.author.id) === String(currentUser.id))
                        { %>
                            <a class="btn btn-xs btn-warning pull-right" href="/pools/<%=pool._id%>/comments/<%=comment._id%>/edit">Edit</a>
                            <form action="/pools/<%=pool._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                <input id="delete-form"  type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                    <%  }
                    }
                    %>
                        
                </div>
            </div>
            <% }) %> 
        </div>
    </div>

<%
function calculateWinnings(pool, scores)
{
    var winnings = {};
    var money = 0;
    var picks = 0;
    pool.picks.forEach(function(pick)
    {
        if(String(pick.winner) === "undefined")
        {
            // do nothing
        }
        else
        {
            scores.games.forEach(function(score)
            {
                if(pick.gameID == score.gameID)
                {
                    var winner = "";
                    var loser = "";
                    if(score.homeScore > score.awayScore)
                    {
                        if(pick.spread && pick.winner == String(score.home))
                            {
                                if((score.homeScore + pick.spread) > score.awayScore)
                                {
                                    winner = String(score.home);
                                    loser = String(score.away);
                                }
                                else
                                {
                                    loser = String(score.home);
                                    winner = String(score.away);
                                }
                            }
                        else
                        {
                            winner = String(score.home);
                            loser = String(score.away);
                        }
                    }
                    else if(score.awayScore > score.homeScore)
                    {
                        if(pick.spread && pick.winner == String(score.away))
                            {
                                if((score.awayScore + pick.spread) > score.homeScore)
                                {
                                    winner = String(score.away);
                                    loser = String(score.home);
                                }
                                else
                                {
                                    winner = String(score.home);
                                    loser = String(score.away);
                                }
                            }
                        else
                        {
                            winner = String(score.away);
                            loser = String(score.home);
                        }
                    }
                    if(String(pick.winner) === winner)
                    {
                        money += Number(pick.toWin);
                        picks += 1;
                    }
                    else
                    {
                        money += 0;
                        picks += 0;
                    }
                    winnings.money = money;
                    winnings.picks = picks;
                }
            });    
        }
    });
    return winnings;
}
%>

<% include ../partials/footer %>